body{
    font-family: 'Poppins', sans-serif;
    margin-top: 20px;
    margin: 0;
}
h1{
    font-size: 60px;
}
p{
    font-size: 16px;
    color: gray;
    letter-spacing: 3px;
}
.color{
    color: red;
}
.top-banner{
    display: flex;
    padding-left: 20px;
    padding-bottom: 30px;
}
.half-width{
    width: 50%;
}
.half-width img{
    width: 100%;
}
.top-banner .half-width p{
    padding-bottom: 30px;
}
.link-button{
    text-decoration: none;
    color: wheat;
    background-image: linear-gradient(#7A74E0, #392FD7);
    padding: 20px 40px;
    border-radius: 10px;
}
.text{
    font-size: 30px;
    text-align: center;
}
.about-me-area{
    display: flex;
    background-image: url(images/shapes/Frame\ 57.jpg);
}
.about-me-area .half-width h1{
    padding-top: 100px;
}
.about-me-area .half-width p{
    padding-bottom: 50px;
}