body{
    font-family: 'Poppins', sans-serif;
    margin-top: 20px;
    margin: 0;
}
h1{
    font-size: 60px;
}
p{
    font-size: 16px;
    color: gray;
    letter-spacing: 3px;
}
.color{
    color: red;
}
.top-banner{
    display: flex;
    padding-left: 20px;
    padding-bottom: 30px;
    overflow: hidden;
}
.half-width{
    width: 50%;
}
.half-width img{
    width: 100%;
}
.top-banner .half-width p{
    padding-bottom: 30px;
}
.link-button{
    text-decoration: none;
    color: wheat;
    background-image: linear-gradient(#7A74E0, #392FD7);
    padding: 20px 40px;
    border-radius: 10px;
}
.text{
    font-size: 30px;
    text-align: center;
}
.about-me-area{
    display: flex;
    background-image: url(images/shapes/Frame\ 57.jpg);
}
.about-me-area .half-width h1{
    padding-top: 100px;
}
.about-me-area .half-width p{
    padding-bottom: 50px;
}
.recipe-description{
    text-align: center;
}
.recipe-area .recipe-description p{
    display: block;
    margin-right: 300px;
    margin-left: 300px;
}
.recipe-item{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap; 
}
img{
    width:80%;
    height:auto;
    padding: 30px 5px 0px;
}
.box{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width:25rem;
    min: width 18rem;
    margin: 15px;
    text-align: center;
    box-shadow: 0px 8px 15px gray;
    border-radius: 30px;

}
.recipe-area .recipe-item .box h1{
    font-size: 40px;
}
.recipe-area .recipe-item .box p{
    padding-right: 6px;
    padding-left: 6px;
}
